<app-navbar></app-navbar>
<div class="container well well-lg ">
  <h4>Info Component!</h4>
  <p>
    <b>Disclaimer:</b>
    We cannot guarantee that the information provided by this website is correct,
    and we hereby disclaim all liability for any loss or inconvenience resulting
    from its use.  In particular, it is impossible to predict precisely the dates
    of many Muslim holidays inasmuch as these are determined annually by proclamations
    from local religious authorities. Calculated dates for many Hindu and Buddhist
    holidays are also approximate. In such cases, our calculations are usually correct
    within a day.  In all cases it is advisable to cross check our results with the
    relevant official agencies.</p>
  <p>
    <b>Request:</b>
    If you notice any errors or omissions, or if you have ideas regarding how our service
    might be improved, please let us know at <i>info@worldholidaysandevents.com</i>.
  </p>
  <p>
    <b>For System Developers:</b>
    The functionality of this website is available as a web service.  For details contact us at <i>info@worldholidaysandevents.com</i>.
  </p>
  <p>
    <b>Acknowledgment:</b>
    This website uses the <i>Calendrica</i> software package that is described in
    <i>Calendrical Calculations: Third Edition</i>, by Nachum Dershowitz and
    Edward M. Reingold, Cambridge University Press, 2008.
  </p>
</div>
