<app-navbar></app-navbar>
<div class="container well well-lg ">
  <h4>Instructions</h4>
  <p>This website has the feature that a city appears in the lists
    only if there are holidays or events that are unique to that city,
    and a state (province, territory) appears in the lists only if
    there are holidays or events that are unique to that state or to
    some city within that state. This means that there are various ways
    to get the holidays (and events) for a particular city. Two are described here.
  </p>
  <br>
  <p>
    <b>Method 1:</b> Select the country in which the city is located and get all
    the holidays for that country. If any states are shown, look for the
    state in which the city is located, and within that state look for the
    city. The city celebrates all holidays associated with that city, state,
    and country. If the state is shown, but not the city, the city celebrates
    all the holidays associated with that state and country. If the state is
    not shown, the city celebrates all the holidays associated with just the country.
  </p>
  <p>
    If no states are shown but there are some cities, look for the city of interest.
    If found, the city celebrates all holidays associated with that city and country.
    If not, the city celebrates the holidays associated with just the country.
  </p>
  <br>
  <p>
    <b>Method 2:</b> "Drill down" through countries, states, and cities using the drop down
    lists on the start page and apply the same principles as described above.
  </p>
</div>
