
li {
  cursor:default;
}
.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.btn-block{
  margin-bottom: 20px;
}
.form-control{
  margin-left: 10px;
  margin-bottom: 20px;
}
