<div class="container">
<div class="dropdown">
  <button id="dLabel" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="btncountry">
    {{selectedcountry}}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dLabel">
     <li *ngFor="let country of countries" href="#" (click)= countrySelect(country)>
    	{{country}}
  	</li>
  </ul>
</div>

<div class="dropdown">
  <button id="dLabel" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="btnstate">
    {{selectedstate}}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dLabel">
     <li *ngFor="let state of states" href="#" (click)= stateSelect(state)>
    	{{state}}
  	</li>
  </ul>
</div>

<div class="dropdown">
  <button id="dLabel" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="btncity">
    {{selectedcity}}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dLabel">
     <li *ngFor="let city of cities" href="#" >
    	{{city}}
  	</li>
  </ul>
</div>
    
</div>
