<app-navbar [cartnumber] = "cartnumber"></app-navbar>
<div class="panel-body">
  <h3 class="text-center">Shopping Cart</h3>
  <hr />
  <div *ngIf="cartitems.length>0" class="container well well-lg">
    <table class="table table-striped table-hover ">
      <thead>
      <tr>
        <th>Country</th>
        <th>State</th>
        <th>City</th>
        <th>Range</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr class="warning" *ngFor="let item of cartitems">
        <td>{{item.country}}</td>
        <td *ngIf="item.state != 'State'">{{item.state}}</td>
        <td *ngIf="item.state == 'State'">No state Selected</td>
        <td *ngIf="item.city != 'City'">{{item.city}}</td>
        <td *ngIf="item.city == 'City'">No city selected</td>
        <td>{{item.fromYear}}&nbsp;-&nbsp;{{item.toYear}} </td>
        <td><button type="button" class="btn btn-info "  (click)="removefromcart()">Remove from cart</button></td>
      </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-info "  >Checkout</button>
    <button type="button" class="btn btn-info " (click)="removeallfromcart()">Empty cart</button>
  </div>
  <div *ngIf="cartitems.length<=0" class="container well well-lg">
    <p> There are no items in your shopping cart, <a href="/">Add Items</a> </p>
  </div>
</div>
