<app-navbar [cartnumber] = "cartnumber"></app-navbar>
<div class="panel-body">
  <h3 class="text-center">Shopping Cart</h3>
  <hr />
  <div *ngIf="cartitems.length>0" class="container well well-lg">
    <table class="table table-striped table-hover ">
      <thead>
      <tr>
        <th>Country</th>
        <th>State</th>
        <th>City</th>
        <th>Range</th>
        <th>Price</th>
        <th class="text-right">Delete</th>

      </tr>
      </thead>
      <tbody>
      <tr class="warning" *ngFor="let item of cartitems">
        <td>{{item.country}}</td>
        <td *ngIf="item.state != 'State'">{{item.state}}</td>
        <td *ngIf="item.state == 'State'">No state Selected</td>
        <td *ngIf="item.city != 'City'">{{item.city}}</td>
        <td *ngIf="item.city == 'City'">No city selected</td>
        <td>{{item.fromYear}}&nbsp;-&nbsp;{{item.toYear}} </td>
        <td>{{price*(item.toYear-item.fromYear+1) | currency:'USD':true:'.2-4'}}</td>
        <td class="text-center"><button type="button" class="close text-center" (click)="removefromcart()" aria-hidden="true">&times;</button></td>
      </tr>
      <tr class="info">
        <td></td>
        <td></td>
        <td></td>
        <td>Total:</td>
        <td>{{total | currency:'USD':true:'.2-4'}}</td>
        <td></td>
      </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-info "  (click)="checkout()">Checkout</button>
    <button type="button" class="btn btn-info " (click)="removeallfromcart()">Empty cart</button>
  </div>
  <div *ngIf="cartitems.length<=0" class="container well well-lg">
    <p> There are no items in your shopping cart, <a href="/">Add Items</a> </p>
  </div>
</div>
