<app-navbar></app-navbar>
<div class="container well well-lg">
  <ul class="nav nav-pills center-pills">
    <li [ngClass]="{'active': paypalactive}"><a (click)="paymethod('paypal')">Paypal</a></li>
    <li [ngClass]="{'active': creditactive}"><a (click)="paymethod('credit')">Credit Card </a></li>
  </ul>
  <div *ngIf="creditactive" class="col-md-6 col-md-offset-3">
    <form (ngSubmit)="f.form.valid && pay()" #f="ngForm" novalidate>
      <div class="form-group col-xs-12" [ngClass]="{ 'has-error': f.submitted && !fname.valid }">
        <label for="fname">First Name</label>
        <input type="text" class="form-control" name="fname" [(ngModel)]="firstname" #fname="ngModel" required />
        <div *ngIf="f.submitted && !fname.valid" class="help-block">First Name is required</div>
      </div>
      <div class="form-group col-xs-12" [ngClass]="{ 'has-error': f.submitted && !lname.valid }">
        <label for="lname">Last Name</label>
        <input type="text" class="form-control" name="lname" [(ngModel)]="lastname" #lname="ngModel" required />
        <div *ngIf="f.submitted && !lname.valid" class="help-block">Last Name is required</div>
      </div>
      <div class="form-group col-xs-12" [ngClass]="{ 'has-error': f.submitted && !cardnum.valid }">
        <label for="cardnum">Card No.</label>
        <input type="text" class="form-control" name="cardnum" [(ngModel)]="cardnumber" #cardnum="ngModel" required
        pattern="^(?:4[0-9]{12}(?:[0-9]{3})?|5[1-5][0-9]{14}|6(?:011|5[0-9][0-9])[0-9]{12}|3[47][0-9]{13}|3(?:0[0-5]|[68][0-9])[0-9]{11}|(?:2131|1800|35\d{3})\d{11})$"/>
        <div *ngIf="f.submitted && !cardnum.valid" class="help-block">Invalid Card Number</div>
      </div>
      <div class="form-group col-xs-8" [ngClass]="{ 'has-error': f.submitted && !expiry.valid }">
        <label for="expiry">Expiry</label>
        <input type="text" class="form-control" name="expiry" [(ngModel)]="expirydate" #expiry="ngModel" required
               pattern="^(0[1-9]|1[0-2])\/([0-9]{4})$"/>
        <div *ngIf="f.submitted && !expiry.valid" class="help-block">Invalid Card Number</div>
      </div>
      <div class="form-group col-xs-4" [ngClass]="{ 'has-error': f.submitted && !code.valid }">
        <label for="code">CVC</label>
        <input type="text" class="form-control" name="code" [(ngModel)]="cvcode" #code="ngModel" required
               pattern="^([0-9]{3})$"/>
        <div *ngIf="f.submitted && !code.valid" class="help-block">Invalid Card Number</div>
      </div>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Pay</button>
      </div>
    </form>
  </div>
  <div *ngIf="paypalactive">
    Paypal form here
  </div>
</div>
